aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.7.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.2.0
awscli==1.32.108
beautifulsoup4==4.12.3
blinker==1.8.2
boto3==1.34.108
botocore==1.34.108
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dataclasses-json==0.6.6
distro==1.9.0
docutils==0.16
exceptiongroup==1.2.1
faiss-cpu==1.8.0
frozendict==2.4.4
frozenlist==1.4.1
gitdb==4.0.11
gitpython==3.1.43
greenlet==3.0.3
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
idna==3.7
importlib-resources==6.4.0
jinja2==3.1.4
jmespath==1.0.1
json-repair==0.19.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
langchain==0.2.0
langchain-aws==0.1.4
langchain-community==0.2.0
langchain-core==0.2.0
langchain-experimental==0.0.59
langchain-openai==0.1.7
langchain-text-splitters==0.2.0
langsmith==0.1.60
lxml==5.2.2
markdown-it-py==3.0.0
markupsafe==2.1.5
marshmallow==3.21.2
mdurl==0.1.2
multidict==6.0.5
multitasking==0.0.11
mypy-extensions==1.0.0
numpy==1.24.4
openai==1.30.1
orjson==3.10.3
packaging==23.2
pandas==2.0.3
peewee==3.17.5
pillow==10.3.0
pkgutil-resolve-name==1.3.10
platformdirs==4.2.2
protobuf==4.25.3
pyarrow==16.1.0
pyasn1==0.6.0
pydantic==2.7.1
pydantic-core==2.18.2
pydeck==0.9.1
pygments==2.18.0
pypdf==4.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyyaml==6.0.1
referencing==0.35.1
regex==2024.5.15
requests==2.32.1
rich==13.7.1
rpds-py==0.18.1
rsa==4.7.2
s3transfer==0.10.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
sqlalchemy==2.0.30
streamlit==1.34.0
tenacity==8.3.0
tiktoken==0.7.0
toml==0.10.2
toolz==0.12.1
tornado==6.4
tqdm==4.66.4
typing-extensions==4.11.0
typing-inspect==0.9.0
tzdata==2024.1
urllib3==2.2.1
watchdog==4.0.0
webencodings==0.5.1
yarl==1.9.4
yfinance==0.2.40
zipp==3.18.2
